@{
    ViewData["Title"] = "Home Page";
}

<h1>ホームダッシュボード</h1>

<div class="list-group">
    <a class="list-group-item list-group-item-action active" href="#">ダッシュボード</a>
    @switch (User.Identity?.Name)
    {
        case "THINKPADX13\\taira":
        case "LECLERC\\taira":
            <a class="list-group-item list-group-item-action" asp-controller="Tayras" asp-area="" asp-action="Index">テーブル</a>
            break;
        case "LECLERC\\macha":
            <a class="list-group-item list-group-item-action" asp-controller="Machas" asp-action="Index" asp-area="">テーブル</a>
            break;
    }
</div>

@section Scripts{
    @if (User.Identity?.Name == "ABRAMS\\saya")
    {
        <script src="~/js/notifyscript.js"></script>
    }
}